/* You can add global styles to this file, and also import other style files */
body {
    margin: 0 0;
    height :101%;
    overflow-y: hidden;
}
/* ::-webkit-scrollbar {
    overflow: hidden;
} */
table {
    width:100%;
  }
  table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
  }
  th, td {
    padding: 15px;
    text-align: left;
  }
  table#t01 tr:nth-child(even) {
    background-color: #eee;
  }
  table#t01 tr:nth-child(odd) {
   background-color: #fff;
  }
  table#tabTest th {
    background-color: black;
    color: white;
  }