#table-wrapper {
    overflow-x: scroll;
    overflow-y: scroll;
    
}
#table-scroll {
    max-height: 370px;
    min-height: 305px;
}
#tabTest {
font-size: 12px;
}
.pagination {
    display: flex;
    padding-left: 0;
    list-style: none;
    border-radius: .25rem;
}
.pagination>li {
    display: inline;
}
.page-item.disabled .page-link {
    color: #6c757d;
    pointer-events: none;
    cursor: pointer;
    background-color: #fff;
    border-color: #dee2e6;
}
.page-item:first-child .page-link {
    margin-left: 0;
    border-top-left-radius: .25rem;
    border-bottom-left-radius: .25rem;
}
.pagination>li>a, .pagination>li>span {
    position: relative;
    float: left;
    padding: 6px 12px;
    margin-left: -1px;
    line-height: 1.42857143;
    color: #337ab7;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #ddd;
}
.page-link:not(:disabled):not(.disabled) {
    cursor: pointer;
}
a:not([href]):not([tabindex]) {
    color: inherit;
    text-decoration: none;
}
a{
    cursor: pointer;
    text-decoration: none;
}
.pagina {
    margin-bottom: 100px;
}
