<form [formGroup]="testForm">
<div id="table-wrapper">
  <div id="table-scroll">
    <div *ngIf="pagedItems">
      <table id="tabTest" class="table table-hover">
        <thead>
          <tr style="white-space: pre;">
            <th></th>
            <th>Name</th>
            <th>Phone</th>
            <th>Email</th>
            <th>Company</th>
            <th>Date_entry</th>
            <th>Org_Num</th>
            <th width="15%">Address_1</th>
            <th>City</th>
            <th>Zip</th>
            <th>Geo</th>
            <th>Pan</th>
            <th>Pin</th>
            <th>Id</th>
            <th>Status</th>
            <th>Fee</th>
            <th>Guid</th>
            <th>Date_exit</th>
            <th>Date_first</th>
            <th>Date_Recent</th>
            <th>Url</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of pagedItems">
            <td>
              <button (click)="setClickedRow(item)">Id/Status</button>
            </td>
            <td> {{item.name}}</td>
            <td> {{item.phone}}</td>
            <td> {{item.email}}</td>
            <td> {{item.company}}</td>
            <td> {{item.date_entry}}</td>
            <td> {{item.org_num}}</td>
            <td > {{item.address_1}}</td>
            <td> {{item.city}}</td>
            <td> {{item.zip}}</td>
            <td> {{item.geo}}</td>
            <td> {{item.pan}}</td>
            <td> {{item.pin}}</td>
            <td> {{item.id}}</td>
            <td> {{item.status}}</td>
            <td> {{item.fee}}</td>
            <td> {{item.guid}}</td>
            <td> {{item.date_exit}}</td>
            <td> {{item.date_first}}</td>
            <td> {{item.date_recent}}</td>
            <td>{{item.url}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<div class="pagina">
  <!-- pager -->
  <ul *ngIf="pager.pages && pager.pages.length" class="pagination">
    <li [ngClass]="{disabled:pager.currentPage === 1}">
      <a (click)="setPage(1)">First</a>
    </li>
    <li [ngClass]="{disabled:pager.currentPage === 1}">
      <a (click)="setPage(pager.currentPage - 1)">Previous</a>
    </li>
    <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
      <a (click)="setPage(page)">{{page}}</a>
    </li>
    <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
      <a (click)="setPage(pager.currentPage + 1)">Next</a>
    </li>
    <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
      <a (click)="setPage(pager.totalPages)">Last</a>
    </li>
  </ul>
  <label for="rows">Show Rows</label>
  <select id="val" formControlName="val" (change)="SelectedValue($event)">
    <option value="" disabled selected="selected">Select</option>
    <option *ngFor="let c of rowVal" [ngValue]="c">{{ c }}</option>
  </select>
</div>
</form>